* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F1F0;
}

.nav {
  z-index: 10;
  background-color: #723A23;
  height: 50px;
  width: 100%;
  position: fixed;
  white-space: nowrap;
  font-size: 0;
}

.nav-button {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  height: 100%;
  padding: 0 15px;
  line-height: 50px;
}

.nav-button:hover {
  background-color: #8D4D2A;
}

.nav-right {
  height: 100%;
  float: right;
}

.active {
  background-color: #3F3D3D;
}
