textarea {
  resize: none;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

.container {
  overflow: hidden;
  height: calc(100vh - 50px);
  width: 100%;
}

.famdiagram {
  border: 3px dashed #3F3D3D;
  padding: 15px;
}

.famdiagram .placeholder {
  border: 0;
}

.form {
  text-align: center;
  width: 70%;
  max-height: 100vh;
  white-space: nowrap;
  display: none;
  z-index: 99;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  overflow: scroll;
  background-color: #D8BEA3;
  padding: 20px;
}

.add-parent {
  height: 200px;
  overflow: scroll;
  width: calc(50% - 2px);
  display: inline-block;
}

.remove-human {
  overflow: scroll;
  width: 70%;
  display: inline-block;
}

.choose-human {
  display: inline-block;
  overflow: scroll;
  width: 70%;
}

.change-human {
  display: none; width: 100%
}

.change-parent {
  height: 200px;
  overflow: scroll;
  width: calc(50% - 2px);
  display: inline-block;
}

.placeholder-modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(100, 100, 100, 0.5);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
}

.bp-item {
  text-align: center;
}

.bp-title-frame {
  position: static;
  height: 20%;
}

.bp-title {
  position: static;
}

.bp-photo-frame {
  position: static;
  width: 70%;
  height: 70%;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.bp-photo-frame img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bp-description {
  width: 100%;
  font-size: 8px;
}

.buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #D8BEA3;
}

.window-with-human {
  display: none;
  width: 40%;
  z-index: 99;
  background-color: #D8BEA3;
  position: fixed;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  overflow: scroll;
  text-align: center;
  max-height: 100vh;
}

.window-with-human .name {
  font-size: 25px;
  margin: 5px 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: text;
}

.window-with-human .dates {
  font-size: 12px;
  margin: 0 0 10px 0;
}

.window-with-human .image {
  width: 50%;
}

.window-with-human .description {
  padding: 5px;
  white-space: normal;
  text-align: justify;
  background-color: #F2F1F0;
  width: 80%;
  font-size: 15px;
  height: 150px;
  margin: 15px auto;
  overflow: scroll;
  user-select: text;
}

.button {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  height: 100%;
  padding: 0 15px;
  line-height: 50px;
}

.button:hover {
  background-color: #8D4D2A;
  cursor: pointer;
}

.human-list {
  background-color: #F2F1F0;
  padding: 5px;
}

.form li {
  margin: 10px 0;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  cursor: pointer;
  border: 1px solid #8D4D2A;
  border-radius: 6px;
  padding: 3px;
  display: block;
  overflow: hidden;
  font-size: 15px;
}

input[type=radio] + label:hover::after {
  content: normal;
}

input[type=radio]:checked + label {
	background: rgba(114, 58, 35, 0.7);
}

.form p input, textarea {
  margin-top: 10px;
}
