textarea {
  resize: none;
}

.container {
  overflow: hidden;
  height: calc(100vh - 50px);
  width: 100%;
}

.famdiagram {
  border: 3px dashed #3F3D3D;
  padding: 15px;
}

.famdiagram .placeholder {
  border: 0;
}

.form {
  text-align: center;
  width: 70%;
  height: 80vh;
  white-space: nowrap;
  display: none;
  z-index: 2;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  overflow: scroll;
}

.add-parent {
  height: 200px;
  overflow: scroll;
  width: calc(50% - 2px);
  display: inline-block;
}

.remove-human {
  overflow: scroll;
  width: 50%;
  display: inline-block;
}

.change-parent {
  height: 200px;
  overflow: scroll;
  width: 50%;
  display: inline-block;
}

.placeholder-modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(100, 100, 100, 0.5);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
}

.bp-item {
  text-align: center;
}

.bp-title-frame {
  position: static;
  height: 20%;
}

.bp-title {
  position: static;
}

.bp-photo-frame {
  position: static;
  width: 70%;
  height: 70%;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.bp-photo-frame img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bp-description {
  width: 100%;
  font-size: 8px;
}

.buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #D8BEA3;
}

.window-with-human {
  display: none;
  width: 40%;
  z-index: 99;
  background-color: #D8BEA3;
  position: fixed;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  overflow: scroll;
  text-align: center;
  max-height: 100vh;
}

.window-with-human .name {
  font-size: 25px;
  margin: 5px 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.window-with-human .dates {
  font-size: 12px;
  margin: 0 0 10px 0;
}

.window-with-human .image {
  width: 50%;
}

.window-with-human .description {
  padding: 5px;
  white-space: normal;
  text-align: justify;
  background-color: #F2F1F0;
  width: 80%;
  font-size: 15px;
  height: 150px;
  margin: 15px auto;
  overflow: scroll;
}
