{% extends "base.html" %}

{% block content %}
    {{ data }}

    <div>
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="" style="height: 100px; overflow: scroll;">
          <input type="text" class="first-search" placeholder="Поиск имен..">
          {{ form.first_parent(class_="fp") }}
        </div>
        <div class="" style="height: 100px; overflow: scroll;">
          <input type="text" class="second-search" placeholder="Поиск имен..">
          {{ form.second_parent(class_="sp") }}
        </div>
        {{ form.name.label }}
        {{ form.name }}
        {{ form.description.label }}
        {{ form.description }}
        {{ form.image.label }}
        {{ form.image }}
        {{ form.submit() }}
      </form>
    </div>

    <script type="text/javascript">
      var firstSearch = document.querySelector('.first-search');
      var secondSearch = document.querySelector('.second-search');
      firstSearch.onkeyup = function() {
        var filter, ul, li, txtValue;
        filter = firstSearch.value.toUpperCase();
        ul = document.querySelector('.fp');
        li = document.querySelectorAll('.fp li');
        for (var i = 0; i < li.length; i++) {
          txtValue = li[i].textContent;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
      secondSearch.onkeyup = function() {
        var filter, ul, li, txtValue;
        filter = secondSearch.value.toUpperCase();
        ul = document.querySelector('.sp');
        li = document.querySelectorAll('.sp li');
        for (var i = 0; i < li.length; i++) {
          txtValue = li[i].textContent;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
    </script>
{% endblock %}
