<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Family tree</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('index') }}">Tree</a>
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('login') }}">Sing in</a>
    <a href="{{ url_for('register') }}">Register</a>
    {% else %}
    <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
    <hr>
    {% with messages = get_flashed_messages() %}
       {% if messages %}
       <ul>
           {% for message in messages %}
           <li>{{ message }}</li>
           {% endfor %}
       </ul>
       {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
