<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Family tree</title>
    <link href="{{ url_for('static', filename='css/base.css') }}" media="screen" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="nav">
      <a class="main" href="{{ url_for('index') }}">ГЛАВНАЯ</a>
      <a class="tree" href="{{ url_for('tree') }}">ДЕРЕВО</a>
      <div class="nav-right">
        {% if current_user.is_anonymous %}
        <a class="login" href="{{ url_for('login') }}">ВОЙТИ</a>
        <a class="reg" href="{{ url_for('register') }}">РЕГИСТРАЦИЯ</a>
        {% else %}
        <a href="{{ url_for('logout') }}">ВЫЙТИ</a>
        {% endif %}
      </div>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
