{% extends "base.html" %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.10.2.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/primitives.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/modal_windows.js') }}"></script>
    <link href="{{ url_for('static', filename='css/primitives.latest.css') }}" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/tree.css') }}" media="screen" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/modal_windows.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}

{% block content %}
    <script type="text/javascript">
      document.querySelector(".tree").classList.add("active");
    </script>
    <!-- Отображение дерева -->
    <script type="text/javascript">
      var famdata = [
      {% for d in data %}
          {
            'id': {{d.id}},
            {% if d.parents %}'parents': {{ d.parents }},{% endif %}
            'title': "{{d.name}}",
            'is_alive': "{{d.is_alive}}",
            'date_of_birthday': "{{d.date_of_birthday}}",
            'date_of_death': "{{d.date_of_death}}",
            'description': `{{d.description}}`,
            'image': "{{d.image}}"
          },
      {% endfor %}
      ];
      jQuery(document).ready(function () {
        var options = new primitives.orgdiagram.Config();
        options.items = famdata;
        options.cursorItem = null;
        options.hasSelectorCheckbox = primitives.common.Enabled.False;
        options.hasButtons = primitives.common.Enabled.False;
        options.pageFitMode = primitives.common.PageFitMode.None;
        options.elbowType = primitives.common.ElbowType.Round;
        options.normalLevelShift = 20;
        options.dotLevelShift = 20;
        options.lineLevelShift = 24;
        options.normalItemsInterval = 10;
        options.dotItemsInterval = 1;
        options.lineItemsInterval = 1;
        options.linesWidth = 3;
        options.linesColor = "#723A23";
        jQuery("#diagram").famDiagram(options);
        var placeholder = jQuery(".placeholder");
        jQuery("#diagram").css({
          width: placeholder.width() + 10,
          height: placeholder.height() + 10,
        })
        jQuery("#diagram").famDiagram("update");
      });
    </script>
    <!-- Отладочная информация -->
    <!-- {{ data }} -->
    <!-- Форма для добавления -->
    <div class="form add-human-form">
      <form action="" method="post" enctype="multipart/form-data">
        {{ add_form.hidden_tag() }}
        <div class="add-parent add-first-parent">
          <input type="text" onkeyup="search('.add-first-parent')" placeholder="Поиск имен..">
          {{ add_form.first_parent(class_="fp") }}
        </div>
        <div class="add-parent add-second-parent">
          <input type="text" onkeyup="search('.add-second-parent')" placeholder="Поиск имен..">
          {{ add_form.second_parent(class_="sp") }}
        </div>
        <br>
        {{ add_form.name.label }}
        {{ add_form.name }}
        <br>
        {{ add_form.is_alive.label }}
        {{ add_form.is_alive(class_="add-alive") }}
        <br>
        {{ add_form.date_of_birthday.label }}
        {{ add_form.date_of_birthday(max="2100-12-31") }}
        <br>
        {{ add_form.date_of_death.label }}
        {{ add_form.date_of_death(class_="add-death", max="2100-12-31") }}
        <br>
        {{ add_form.description.label }}
        {{ add_form.description }}
        <br>
        {{ add_form.image.label }}
        {{ add_form.image }}
        <br>
        {{ add_form.add_submit() }}
        {% for error in add_form.image.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </form>
    </div>
    <!-- Форма для удаления -->
    <div class="form remove-human-form">
      <form action="" method="post">
        {{ remove_form.hidden_tag() }}
        <div class="remove-human">
          <input type="text" onkeyup="search('.remove-human')" placeholder="Поиск имен..">
          {{ remove_form.humans(class_="rm") }}
        </div>
        <br>
        {{ remove_form.remove_submit() }}
      </form>
      {% if not remove_form.humans.choices %}
      <script type="text/javascript">
        document.querySelector(".remove-human-form form").style.display = "none";
      </script>
      <span>Удалять некого</span>
      {% endif %}
    </div>
    <!-- Форма для изменения -->
    <div class="form change-human-form">
      <form action="" method="post" enctype="multipart/form-data">
        {{ change_form.hidden_tag() }}
        <div class="choose-human" style="display: block">
          <input type="text" onkeyup="search('.choose-human')" placeholder="Поиск имен..">
          {{ change_form.humans }}
          <button type="button" class="choose-button">Next</button>
        </div>

        <div class="change-human" style="display: none; width: 100%">
          <div class="change-parent change-first-parent">
            <input type="text" onkeyup="search('.change-first-parent')" placeholder="Поиск имен..">
            {{ change_form.first_parent }}
          </div>
          <div class="change-parent change-second-parent">
            <input type="text" onkeyup="search('.change-second-parent')" placeholder="Поиск имен..">
            {{ change_form.second_parent }}
          </div>
          <br>
          {{ change_form.name.label }}
          {{ change_form.name }}
          <br>
          {{ change_form.is_alive.label }}
          {{ change_form.is_alive(class_="change-alive") }}
          <br>
          {{ change_form.date_of_birthday.label }}
          {{ change_form.date_of_birthday(max="2100-12-31") }}
          <br>
          {{ change_form.date_of_death.label }}
          {{ change_form.date_of_death(class_="change-death", max="2100-12-31") }}
          <br>
          {{ change_form.description.label }}
          {{ change_form.description }}
          <br>
          {{ change_form.image.label }}
          {{ change_form.image }}
          <br>
          {{ change_form.change_submit() }}
        </div>
      </form>
      {% if not change_form.humans.choices %}
      <script type="text/javascript">
        document.querySelector(".change-human-form form").style.display = "none";
      </script>
      <span>Изменять некого</span>
      {% endif %}
    </div>

    <!-- Плейсхолдер -->
    <div class="placeholder-modal"></div>

    <!-- Кнопки для добавления/удаления/изменения -->
    <div class="buttons">
      <button class="add-button">Add</button>
      <button class="remove-button">Remove</button>
      <button class="change-button">Change</button>
      <button class="transp-draggable">Tr Dr</button>
    </div>

    {% for d in data %}
        <div class="window-with-human" id="{{ d.id }}">
          <div class="name">
            {{ d.name }}
          </div>
          <div class="dates">
            {{ d.date_of_birthday }} -
            {% if d.date_of_death %} {{ d.date_of_death }}
            {% else %}...{% endif %}
          </div>
          <img class="image" src="{{ d.image }}" alt="{{ d.name }}">
          <div class="description">
            {% if d.description %} {{ d.description }}
            {% else %}Описание отсутствует...{% endif %}
          </div>
        </div>
    {% endfor %}
    <div class="container">
      <div id="draggable" class="ui-widget-content ui-draggable">
        <div id="diagram"></div>
      </div>
    </div>
{% endblock %}
